
<form #diaListForm="ngForm" id="diaForm">
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6"><h6>Images in this category ... </h6></div>
      <div class="col-sm-6"><button class="btn btn-success" style="float:right" (click)="backToArray()">
          <i class="fa fa-chevron-up"></i>
        </button></div>
    </div>
    
  </div>
</div>

<div class="row">
  @for (t of imageService.paginatedResult()?.items; track t.Id){
  <div class="col-2">

    <app-dias-details [dia]="t"></app-dias-details>

  </div>
  }
</div>

@if(imageService.paginatedResult()?.pagination){
  <div class="d-flex justify-content-center mt-2">
    <pagination 
      [(ngModel)]="pageNumber"
      name="pageNumber"
      [boundaryLinks]="true"
      [totalItems]="imageService.paginatedResult()?.pagination!.totalItems"
      [itemsPerPage]="imageService.paginatedResult()?.pagination!.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [maxSize]="10"
      
    ></pagination>
  
  </div>
}
</form>