<div class="card">
    <div class="card-header">
        <h2><span>Managing users</span></h2>
        <button class="btn btn-secondary" style="float: right;" (click)="addUser()" *ngIf="!showAddPage()">Add User</button>
    </div>
   
    <div class="card-body"  *ngIf="!showAddPage()">
        
        <div class="row">
            <div *ngFor="let t of listOfUsers" class="col-sm-4">
                <app-userdetails [us]="t"></app-userdetails>
            </div>
        </div>
    </div>

    <div class="card-body" *ngIf="showAddPage()">
        <div class="row">
           <app-add-user></app-add-user>
        </div>
    </div>

    <div class="footer">
        <form #titlePageForm="ngForm" id="numberform">
        <div class="row">
            <div class="col-sm-6">
                Set titel page image:
               <input type="number" min="0" [(ngModel)]="TitelPageImage" name="TitelPageImage "/>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary" (click)="setTitelPageImage(TitelPageImage)">Save</button>
            </div>
        </div>
        </form>
    </div>
</div>
