name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api

    steps:
    - uses: actions/checkout@v4
    - name: Set tag
      run: echo "TAG=$(date +%s)" >> $GITHUB_ENV
    - name: Publish .NET project
      run: dotnet publish -c Release -o Release
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_HUB_USERNAME }}/photo:${TAG}
      env:
        TAG: ${{ env.TAG }}
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}    

    - name: publish docker image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/photo:${{ env.TAG }}
