name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api

    steps:
    - uses: actions/checkout@v4
    - name: Publish .NET project
      run: dotnet publish -c Release -o Release
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag photo:$(date +%s)
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}    

    - name: publish docker image
      run: docker push photo:$(date +%s)
