name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api

    steps:
    - uses: actions/checkout@v4
    - name: Set tag
      run: echo "TAG=$(date +%s)" >> $GITHUB_ENV
    - name: Build and pushdocker image
      uses : mr-smithers-excellent/docker-build-push@v5
      with:
        image: photo
        registry: docker.io
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        tags: latest,${{ env.TAG }}
    

    
